{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <h2 class="title has-text-centered">Sign Up</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary is-fullwidth" type="submit">Sign Up</button>
                        </div>
                    </div>
                </form>
                <div class="has-text-centered">
                    <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
